.pokemon-preview_page {
  padding: 60px 80px;
  .pokemon-preview-page_container {
    margin-bottom: 60px;

    .pokemon-preview_search {
      width: 30%;
      margin: auto;
    }
  }
}

.pagination_container {
  display: flex;
  justify-content: center;
  .pokemon-preview_pagination {
    display: flex;
    list-style: none;
    margin-bottom: 60px;
    align-items: center;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 0.8rem;
      // background-color: #51bae8;
      background-color: #054767;
      padding: 10px 0;
    }
  }
}

.page-link {
  color: white;
  padding: 10px 20px;
  font-weight: bold;
}
.page-num-pagination-active {
  background-color: white;
  // color: #51bae8;
  color: #054767;
}

.prev-link,
.next-link {
  padding: 10px 20px;
  color: white;
}

.break-link {
  color: white;
}
